// bio.scss
@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    color: $color-primary-black;
    @include text-body;
}

.nav {
    background-color: $color-primary-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include padding-side;

    @include tablet-and-up {
        flex-direction: row;
    }

    &__logo {
        height: $logo-height;
        width: $logo-width;
        text-decoration: none;
        margin-bottom: 0.5rem;
        margin-top: 1rem;

        @include tablet-and-up {
            margin: 0 3rem 0 0;
        }
    }

    &__logo-image {
        height: 100%;
        width: 100%;
    }

    &__list {
        list-style: none;
        display: flex;
        width: 100%;

        @include tablet-and-up {
            width: auto;
            gap: 1.5rem;
        }
    }

    &__item {
        flex: 1;
        text-align: center;
        padding: 0.75rem;

        @include tablet-and-up {
            flex: 0 1 auto;
            padding: 1.5rem 0;
        }

        &--active {
            border-bottom: 4px solid $color-primary-white;
        }
    }

    &__link {
        color: $color-primary-silver;
        text-decoration: none;
        @include text-subheader;

        .nav__item--active & {
            color: $color-primary-white;
            font-weight: 700;
        }

        // @include tablet-and-up {
        //     @include text-subheader-desktop;
    }
}

.hero {
    @include padding-side;
    position: relative;
    aspect-ratio: 16/9;
    height: auto;
    background: url('../assets/images/hero-bio.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-primary-black, 0.5);
    }

    &__title {
        @include text-page-header;
        position: relative;
        color: $color-primary-white;
        z-index: 1;
        text-align: center;
    }
}
main {
    @include padding-side;
}

.about {

    &__container {
        @include tablet-and-up {
            max-width: 1020px;
            margin: 0 auto;
        }
    }

    &__title {
        @include text-section-header;
        @include padding-before-headlines;
        @include padding-after-headlines;
        @include padding-between-componenets;
    }

    &__divider {
        @include tablet-and-up {
            padding: 0 3rem 0 3rem;
        }

    }


    &__quote {
        @include padding-between-componenets;
        // @include tablet-and-up {
        //     margin-bottom: $padding-between-componenets-tablet;
        //     max-width: 80%;
        // }
        
        &-text {
            @include text-subheader;
            // margin-top: $padding-between-componenets-mobile;
            // @include padding-between-componenets;
            // margin-bottom: $padding-after-headlines-mobile;

            // @include tablet-and-up {
            //     margin-bottom: $padding-after-headlines-tablet;
            // }
        }

        &-author {
            @include text-subheader;
            padding-top: 0.5rem;
            
            @include tablet-and-up {
                padding-top: 0.5rem;
            }
        }
    }
}

.band {
    @include padding-between-componenets;

    // @include tablet-and-up {
    //     margin-bottom: $padding-between-componenets-tablet;
    // }

    &__title {
        @include text-subheader;
        @include padding-after-headlines;
    }

    &__image {
        width: 100%;
    }

    &__text {
        @include text-body;
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            margin-bottom: $padding-between-componenets-tablet;
            padding-right: $padding-side-tablet;
            columns: 2;
            column-gap: $padding-between-componenets-tablet;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.gallery {
    background-color: $color-secondary-alabaster;

    // @include tablet-and-up {
    //     padding-top: $padding-before-headlines-tablet;
    // }

    &__title {
        @include text-section-header;
        @include padding-before-headlines;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $padding-between-componenets-mobile;
        @include padding-between-componenets;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
            gap: $padding-between-componenets-tablet;
        }
    }

    &__image {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        display: block;
        object-fit: cover;

        @include tablet-and-up {
            width: calc((100% - #{$padding-between-componenets-tablet} * 2) / 3);
        }
    }
}

.footer {
    background-color: $color-primary-black;
    color: $color-primary-white;
    @include padding-side;
    @include text-footer;

    &__contact {
        
        @include tablet-and-up {
            display: flex;
            // justify-content: space-between;
            gap: $padding-between-componenets-tablet;
            align-items: center;
            margin-bottom: $padding-between-componenets-tablet;
        }
    }

    &__title {
        @include text-section-header;
        @include padding-before-headlines;
        @include padding-after-headlines;
    }

    &__social {
        display: flex;
        gap: 2rem;
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            gap: $padding-between-componenets-tablet;
            margin-bottom: 0;
        }
    }

    &__social-icon {
        width: 24px;
        height: 24px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: $padding-between-componenets-mobile;

        @include tablet-and-up {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            // gap: $padding-between-componenets-tablet;
            width: 100%;
        }
    }

    &__component {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    // &__company {
    //     @include tablet-and-up {
    //         width: 33%;
    //         // flex: 1;
    //         display: flex;
    //         flex-direction: column;
    //         gap: $padding-between-componenets-tablet;
    //     }
    // }

    &__address {
        font-style: normal;
    }

    // &__address-divider {

    //     @include tablet-and-up {
    //         padding-top: $padding-between-componenets-tablet;
    //     }
    // }

    // &__booking {
    //     @include tablet-and-up {
    //         width: 33%;
    //         flex: 2;
    //         display: flex;
    //         gap: $padding-between-componenets-tablet;
    //     }
    // }


    &__email {
        color: $color-primary-white;
        text-decoration: none;
        @include text-body;
        font-style: normal;
    }

    &__logo-legal {
       padding-top: 3rem;
       display: flex;
       flex-direction: column;
       gap: 1rem;
       padding-bottom: 2rem;
    }


    &__logo-image {
        height: $logo-height;
        width: $logo-width;

    }

    &__logo-image--mobile {
        // padding-top: 1.5rem;

        @include tablet-and-up {
            display: none;
        }
    }

    &__logo-image--tablet {
        display: none;

        @include tablet-and-up {
            display: flex;
            margin-left: 10rem;
        }
    }

 
//     &__copyright {
//         @include tablet-and-up {
//             width: 100%;
//             margin-top: $padding-between-componenets-tablet;
//         }
//     }

}