// bio.scss
@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-primary;
    color: $color-primary-black;
}

.nav {
    background-color: $color-primary-black;
    // padding-left: $padding-side-mobile;
    // padding-right: $padding-side-mobile;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet-and-up {
        padding: $padding-side-tablet;
        flex-direction: row;
        align-items: center;
    }

    &__logo {
        height: 20px;
        width: 120px;
        text-decoration: none;
        margin-bottom: 8px;
        margin-top: 15px;

        @include tablet-and-up {
            margin-bottom: 0;
            margin-right: 48px;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        width: 100%;

        @include tablet-and-up {
            width: auto;
            gap: 24px;
        }
    }

    &__item {
        flex: 1;
        text-align: center;
        padding: 0.75rem;;
        // border-bottom: 4px solid transparent;

        @include tablet-and-up {
            flex: 0 1 auto;
            padding: 24px 0;
        }

        &--active {
            border-bottom: 4px solid $color-primary-white;
        }
    }

    &__link {
        color: $color-primary-silver;
        text-decoration: none;
        font: $font-subheader-mobile;

        .nav__item--active & {
            color: $color-primary-white;
            font-weight: 700;
        }

        @include tablet-and-up {
            font: $font-subheader-desktop;
        }
    }
}

.hero {
    position: relative;
    height: 30vh;
    background: url('../assets/images/hero-bio.jpg') center/cover no-repeat;

    @include tablet-and-up {
        height: 60vh;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-primary-black, 0.5);
    }

    &__title {
        position: relative;
        color: $color-primary-white;
        font: $font-page-header-mobile;
        padding: $padding-side-mobile;
        padding-top: $padding-before-headlines-mobile;
        z-index: 1;
        display: flex;
        align-items: center;
        min-height: 30vh;

        @include tablet-and-up {
            font: $font-page-header-desktop;
            padding: $padding-side-tablet;
            padding-top: $padding-before-headlines-tablet;
        }
    }
}

.about {
    padding: $padding-side-mobile;

    @include tablet-and-up {
        padding: $padding-side-tablet;
        max-width: 1020px;
        margin: 0 auto;
    }

    &__title {
        font: $font-section-header-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-section-header-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__quote {
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            margin-bottom: $padding-between-componenets-tablet;
            max-width: 80%;
        }

        &-text {
            font: $font-subheader-mobile;
            margin-bottom: $padding-after-headlines-mobile;

            @include tablet-and-up {
                font: $font-subheader-desktop;
                margin-bottom: $padding-after-headlines-tablet;
            }
        }

        &-author {
            font: $font-subheader-mobile;

            @include tablet-and-up {
                font: $font-subheader-desktop;
            }
        }
    }
}

.band {
    margin-bottom: $padding-between-componenets-mobile;

    @include tablet-and-up {
        margin-bottom: $padding-between-componenets-tablet;
    }

    &__title {
        font: $font-section-header-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-section-header-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__image {
        width: 100%;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__text {
        font: $font-body-copy-mobile;
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            font: $font-body-copy-desktop;
            margin-bottom: $padding-between-componenets-tablet;
            padding-right: $padding-side-tablet;
            columns: 2;
            column-gap: $padding-between-componenets-tablet;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.gallery {
    padding: $padding-side-mobile;

    @include tablet-and-up {
        padding: $padding-side-tablet;
    }

    &__title {
        font: $font-section-header-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-section-header-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $padding-between-componenets-mobile;

        @include tablet-and-up {
            flex-direction: row;
            flex-wrap: wrap;
            gap: $padding-between-componenets-tablet;
        }
    }

    &__image {
        width: 100%;
        transition: filter 0.3s ease;

        @include tablet-and-up {
            width: calc((100% - #{$padding-between-componenets-tablet}) / 2);
        }

        &:hover {
            filter: grayscale(0%);
        }
    }
}

.footer {
    background-color: $color-primary-black;
    color: $color-primary-white;
    padding: $padding-side-mobile;

    @include tablet-and-up {
        padding: $padding-side-tablet;
    }

    &__contact {
        @include tablet-and-up {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $padding-between-componenets-tablet;
        }
    }

    &__title {
        font: $font-section-header-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-section-header-desktop;
            margin-bottom: 0;
        }
    }

    &__social {
        display: flex;
        gap: 2rem;
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            gap: $padding-between-componenets-tablet;
            margin-bottom: 0;
        }
    }

    &__social-icon {
        width: 24px;
        height: 24px;
    }

    &__info {
        font: $font-body-copy-mobile;
        @include tablet-and-up {
            display: flex;
            flex-wrap: wrap;
            gap: $padding-between-componenets-tablet;
        }
    }

    &__company {
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            margin-bottom: 0;
            flex: 1;
        }
    }

    &__company-name {
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-subheader-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__address {
        font-style: normal;
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            font: $font-body-copy-desktop;
            margin-bottom: 0;
        }
    }

    &__address-divider {
        margin-bottom: $padding-between-componenets-mobile;
    }

    &__booking {
        @include tablet-and-up {
            flex: 2;
            display: flex;
            gap: $padding-between-componenets-tablet;
        }
    }

    &__agent {
        margin-bottom: $padding-between-componenets-mobile;

        @include tablet-and-up {
            flex: 1;
            margin-bottom: 0;
        }
    }

    &__agent-name {
        font: $font-subheader-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-subheader-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__agent-region {
        font: $font-body-copy-mobile;
        margin-bottom: $padding-after-headlines-mobile;

        @include tablet-and-up {
            font: $font-body-copy-desktop;
            margin-bottom: $padding-after-headlines-tablet;
        }
    }

    &__email {
        color: $color-primary-white;
        text-decoration: none;
        font: $font-body-copy-mobile;

        @include tablet-and-up {
            font: $font-body-copy-desktop;
        }
    }

    &__divider-one {
        margin: 4rem 0;
    }

    &__divider-two {
        margin-bottom: 1rem;
    }

    &__copyright {
        font: $font-body-copy-mobile;

        @include tablet-and-up {
            font: $font-body-copy-desktop;
            width: 100%;
            margin-top: $padding-between-componenets-tablet;
        }
    }
}