*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #323232;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    padding: 0;
  }
}
.nav__logo {
  height: 20px;
  width: 120px;
  text-decoration: none;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .nav__logo {
    margin: 0 3rem 0 0;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .nav__list {
    width: auto;
    gap: 1.5rem;
  }
}
.nav__item {
  flex: 1;
  text-align: center;
  padding: 0.75rem;
}
@media (min-width: 768px) {
  .nav__item {
    flex: 0 1 auto;
    padding: 1.5rem 0;
  }
}
.nav__item--active {
  border-bottom: 4px solid #FFFFFF;
}
.nav__link {
  color: #AFAFAF;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .nav__link {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
.nav__item--active .nav__link {
  color: #FFFFFF;
  font-weight: 700;
}

.hero {
  position: relative;
  height: 30vh;
  background: url("../assets/images/hero-bio.jpg") center/cover no-repeat;
}
@media (min-width: 768px) {
  .hero {
    height: 60vh;
  }
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  position: relative;
  color: #FFFFFF;
  padding: 1rem;
  padding-top: 1.5rem;
  z-index: 1;
  display: flex;
  align-items: center;
  min-height: 30vh;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}
@media (min-width: 768px) {
  .hero__title {
    padding: 2.25rem;
    padding-top: 3rem;
  }
}

.about {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .about {
    padding: 2.25rem;
    max-width: 1020px;
    margin: 0 auto;
  }
}
.about__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .about__title {
    margin-bottom: 2.25rem;
  }
}
.about__quote {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__quote {
    margin-bottom: 2.25rem;
    max-width: 80%;
  }
}
.about__quote-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__quote-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .about__quote-text {
    margin-bottom: 2.25rem;
  }
}
.about__quote-author {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__quote-author {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}

.band {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .band {
    margin-bottom: 2.25rem;
  }
}
.band__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .band__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .band__title {
    margin-bottom: 2.25rem;
  }
}
.band__image {
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .band__image {
    margin-bottom: 2.25rem;
  }
}
.band__text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .band__text {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .band__text {
    margin-bottom: 2.25rem;
    padding-right: 2.25rem;
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2.25rem;
         column-gap: 2.25rem;
  }
}
.band__text:last-child {
  margin-bottom: 0;
}

.gallery {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding: 1rem;
}
@media (min-width: 768px) {
  .gallery {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 768px) {
  .gallery {
    padding: 2.25rem;
  }
}
.gallery__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    margin-bottom: 2.25rem;
  }
}
.gallery__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.25rem;
  }
}
.gallery__image {
  width: 100%;
  transition: filter 0.3s ease;
}
@media (min-width: 768px) {
  .gallery__image {
    width: calc((100% - 2.25rem) / 2);
  }
}
.gallery__image:hover {
  filter: grayscale(0%);
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding: 2.25rem;
  }
}
@media (min-width: 768px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
  }
}
.footer__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (min-width: 768px) {
  .footer__title {
    margin-bottom: 2.25rem;
  }
}
.footer__social {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__social {
    gap: 2.25rem;
    margin-bottom: 0;
  }
}
.footer__social-icon {
  width: 24px;
  height: 24px;
}
.footer__info {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__info {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem;
  }
}
.footer__company {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__company {
    margin-bottom: 0;
    flex: 1;
  }
}
.footer__company-name {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__company-name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .footer__company-name {
    margin-bottom: 2.25rem;
  }
}
.footer__address {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__address {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer__address {
    margin-bottom: 2.25rem;
  }
}
.footer__address-divider {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__booking {
    flex: 2;
    display: flex;
    gap: 2.25rem;
  }
}
.footer__agent {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__agent {
    flex: 1;
    margin-bottom: 0;
  }
}
.footer__agent-name {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__agent-name {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  .footer__agent-name {
    margin-bottom: 2.25rem;
  }
}
.footer__agent-region {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer__agent-region {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer__agent-region {
    margin-bottom: 2.25rem;
  }
}
.footer__email {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer__email {
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .footer__email {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
.footer__divider-one {
  margin: 4rem 0;
}
.footer__divider-two {
  margin-bottom: 1rem;
}
.footer__copyright {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media (min-width: 768px) {
  .footer__copyright {
    width: 100%;
    margin-top: 2.25rem;
  }
}/*# sourceMappingURL=bio.css.map */